<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <title>My peeringdb report page</title>
    </head>

    <body class="body">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Home</a>
                    <a class="navbar-brand" href="db">Database</a>
                    <a class="navbar-brand" href="#">Results</a>
                    <a class="navbar-brand" href="about">About</a>

                </div>
            </div>
        </nav>

        <div class="jumbotron text-center">
            <div class="page-header">
                <h3 class="text-primary">ASN peering's executive summary</h3>
            </div>
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>ASN</th>
                    <th>Total_ix</th>
                    <th>Total_agg_speed_Gbps</th>
                    <th>Total_peers</th>
                    <th>Total_organizations</th>
                </tr>

                {% for asn in asns %}
                    <tr>
                        <td>{{asn.ASN}}</td>
                        <td>{{asn.Total_ix}}</td>
                        <td>{{asn.Total_agg_speed_Gbps}}</td>
                        <td>{{asn.Total_peers}}</td>
                        <td>{{asn.Total_organizations}}</td>
                    </tr>
                {% endfor %}
            </table>

            <div class="page-header">
                <h3 class="text-primary">ASN peering's list per IX</h3>
            </div>
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>IX_name</th>
                    <th>Net_list</th>
                </tr>

                {% for ix in ixs %}
                    <tr>
                        <td>{{ix.Ix_name}}</td>
                        <td>{{ix.Net_name}}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>

    </body>
</html>
